<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>feng01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{300,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,240}}</string>
                <key>sourceSize</key>
                <string>{300,240}</string>
            </dict>
            <key>feng02.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{300,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,240}}</string>
                <key>sourceSize</key>
                <string>{300,240}</string>
            </dict>
            <key>feng03.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,2},{300,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,240}}</string>
                <key>sourceSize</key>
                <string>{300,240}</string>
            </dict>
            <key>feng04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{300,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,240}}</string>
                <key>sourceSize</key>
                <string>{300,240}</string>
            </dict>
            <key>feng05.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,244},{300,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,240}}</string>
                <key>sourceSize</key>
                <string>{300,240}</string>
            </dict>
            <key>feng06.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,244},{300,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,240}}</string>
                <key>sourceSize</key>
                <string>{300,240}</string>
            </dict>
            <key>feng07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,486},{300,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,240}}</string>
                <key>sourceSize</key>
                <string>{300,240}</string>
            </dict>
            <key>feng08.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,486},{300,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,240}}</string>
                <key>sourceSize</key>
                <string>{300,240}</string>
            </dict>
            <key>shandian.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,486},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>yudi.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,486},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>yun1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,728},{300,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,150}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
            <key>yun2.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,728},{300,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,150}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
            <key>yun3.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,728},{300,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,150}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>guangfengxiayu.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a9b1652be0489cd506094560d67faa14$</string>
            <key>textureFileName</key>
            <string>guangfengxiayu.png</string>
        </dict>
    </dict>
</plist>
